:root{
    --corprincipal: rgb(12, 172, 91);
    --corsecundaria: rgb(237, 228, 247);
    --corcinza: rgb(161, 148, 148);
}

body{
    color: var(--corcinza);
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
    }
header{
    background-color: blueviolet;
    margin: 0px;
    padding: 20px;
    color: white;
    text-align: center;
}
nav{
    background-image: url("./images/linguagens-front-end.webp");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
}
article{
    width: 30%;
    display: inline-block;
    vertical-align: top;
    padding: 15px;
}

#artHTML:hover{
    background-color: yellow;
}
#artCSS:hover{
    background-color:orange;
}

#artJS:hover{
    background-color:blue;
}

h3{
    color: blueviolet;
}
p{
    background-color: rgb(237, 228, 247);
    padding:15px;
    text-align: justify;
    border-style: solid;
    color:rgb(94, 12, 172);
    border-radius: 10px;
    height: 160px;
}
article > h4{
    color:rgb(94, 12, 172);
    border-bottom: 2px solid rgb(94, 12, 172) ;
}
img{
    margin: auto;
    display:block;
}
a{
    text-decoration: none;
    background-color: rgb(237, 228, 247);
    color: rgb(94, 12, 172);
    padding: 10px;
    margin: 5px;
}

a:hover{
    color: rgb(237, 228, 247);
    background-color: rgb(94, 12, 172);
    font-size: 15pt;
}
footer{
    background-color: rgb(226,216,255);
    height: 50px;
    text-align: center;
}
.laranja {
    color: orange
}